#tab_costs, #tab_projects, #tab_employees, #tab_subby {
    text-decoration: none; 
    color: black;
    border: 1px solid gray;
    background-color: rgb(228, 228, 228);
    height: 15%;
}

#a_main, #a_costs, #a_employees, #a_subby {
    text-decoration: none; 
    color: black;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
}

#open-offcanvas {
    width: 3%;
    background-color: rgb(228, 228, 228);
    border-radius: 0%;
    border: 1px solid gray;
    color: black;
}